/*//___Custom Styling for New Website___\\

A New Start - Theme 2014 - Development Style Sheet
Background: #FFF;

*/
/* (========= Global Settings  =============) */
/* (========= Typography  =============) */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
body{background:url('') center center no-repeat fixed;background-size:cover; background-color: #FFF;}
#footer {width: 100%; background: rgba(235,229,203,0.7);}
body{font-family: 'Lato', sans-serif; color: #8f9394;font-size: 0.85em; font-weight: normal; }
h1,h2,h3,h4,h5,h6{color:#000;font-family:"Lato",sans-serif;font-style:normal;font-weight:normal;line-height:1.4;margin-bottom:.5rem;margin-top:.2rem;text-rendering:optimizelegibility}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{color:#000c;text-transform: uppercase;font-size:60%;line-height:0}h1{font-size:3em}h2{font-size:1.75rem}h3{font-size:1.45rem}h4{font-size:1.25rem}h5{font-size:1.125rem}h6{font-size:1rem}

a{color: #8d9920;transition: all 0.5s ease;}
a:hover, a:focus{color: #000000}
h1.subheader, h2.subheader, h3.subheader, h4.subheader, h5.subheader, h6.subheader{font-family: 'Lato',sans-serif;}
.subtitle{font-size: 20px; font-weight: 300;}

/* (========= Component Styling  =============) */
button, .button {background-color: #329bc1;border-color:rgba(100,109,21,0.5);border-style:solid;border-width:0;color:#fff;cursor:pointer;display:inline-block;font-family:"Lato",sans-serif;font-size:1rem;font-weight:lighter;line-height:normal;margin:0 0 1.25rem;padding:1rem 2rem 1.0625rem;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;transition:background-color 300ms ease-out 0s;}
/*.wide-container{display: table; width: 100%; }*/
button:hover, .button:hover{background: #2693c2;}
button:focus, .button:focus {background-color: dimgray;}
.device-menu-toggle{background: #000000;margin-bottom: 15px;margin-top: -15px;width: 100%;z-index: 10;}
.device-only{background: #000000;}
.breadcrumbs {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: 0 none;padding: 0;}
.breadcrumbs > *{color: gray;font-size: 1em;line-height: 1em;}
.breadcrumbs > * a{color: gray; text-decoration: underline; }

/* (========= Section Styling  =============) */
/*//___Front Page Styling___\\*/
div[class*="home-block-1-"] h2 small, div[class*="home-block-2-"] h2 small, .home-block-3 h2 small{font-family: 'Lato';text-transform: uppercase; font-size: 0.55em; font-weight: 300;color: #FFF;letter-spacing: 1px;}
div[class*="home-block-1-"] h2, div[class*="home-block-2-"] h2, .home-block-3 h2{line-height: 1em;margin: 0px;letter-spacing: 1px;}
div[class*="home-block-1-"] h3, div[class*="home-block-2-"] h3, .home-block-3 h3{font-family:Lato;color:#ffffff;font-size:2.625em;font-weight:500;letter-spacing: 1px;margin-top: 0px; line-height: .85em;}
div[class*="home-block-1-"] span{color: #FFF; font-size: 1.125em;}
#home-featured-image-container{}
#home-featured-image-container .wide-featured-image{padding: 20% 0px 10%;}
.featured-image-text{}
.featured-image-text button{left:2em;top:-0.5em}
#home-featured-image-container .featured-image-text span{font-family:'Lato';color:#ededed;font-size:3.5em;font-weight:600;line-height:1.51em; transition: font-size 0.5s ease;} 

/*//___Home Content Block 1___\\*/
div[class*="home-block-1-"]{padding: 25px;text-align: center;}
.home-block-1-content{max-width:360px;margin:0 auto;-moz-hyphens:auto;-ms-hyphens:auto;-webkit-hyphens:auto;hyphens:auto;word-wrap:break-word}
.home-block-1-1{background: url('../images/home-block-1-1.png');  min-height:300px;background-size: cover; background-repeat: no-repeat;}
.home-block-1-2{background: url('../images/home-block-1-2.png'); min-height: 300px;background-size: cover; background-repeat: no-repeat;}
.home-block-1-3{background: #65adcc; min-height:300px;padding: 25px 0px !important;}
.home-block-button{background:transparent;border-width:1px;border-color:#ffffff;border-style:solid;margin-top: 15px;}

/*//___Home Content Block 2___\\*/
.home-block-2{background: url('../images/home-wavesbg.png'); background-size: cover; background-repeat: no-repeat; background-position: center center;height: 30em;}
.home-block-2 h2{font-size: 4em;line-height: 1.25em; margin-bottom: 1em;}
.home-block-2-2{}
.home-block-2-lbutton{background: #aae2f6; color: #339cc1;}
.home-block-2-rbutton{background: #329bc1; color: #FFF;}
.home-block-2-lbutton, .home-block-2-rbutton{font-weight: 800; letter-spacing: 0.07em; width: 15em;padding: 1.2em 0.5em;}
.home-block-2-lbutton:hover, .home-block-2-rbutton:hover{background: #FFF; color: #339cc1;}

/*//___Home Content Block 3___\\*/
.home-block-3{color: #0d3242;}
.home-block-3-1{border-right: 1px solid #ededed;}
.home-block-3-2{}
.home-block-3-3{border-left: 1px solid #ededed;height:20em;background: url('../images/couplebg.jpg') top center / cover no-repeat;}
.home-block-3-3 .nav-cta h3:before{content:url('../images/phone-icon.png');left:-0.9em;position:absolute;top:1.15em}
.home-block-3-3 .nav-cta h2 small{font-size: 0.8em;}
.home-block-3-3 .nav-cta h3{font-size: 2.75em;}
.home-block-3 h2 small{color: #f27527;}
.home-block-3 h3{color: #0d3242;line-height: 1.25em;}
.home-block-3 h4{text-align: center;margin-bottom: 30px;}


/*//___Testimonial___\\*/
.testimonial-block-more{padding-left: 1.5em;}
.testimonial-block-more-button{background: transparent; border: 1px solid #ededed;color: #339cc1;font-weight: 800; padding: 0.5em 0.5em 0.5em 1.5em;letter-spacing: .03em;transition: background 1.0s ease, content 0.5s ease;width: 11.25em;}
.testimonial-block-more-button:hover{background: #339cc1;}
.testimonial-block-more-button:hover:before{content: '\2192'}
.testimonial-block-more-button:before{content: url('../images/testimonial-icon.png'); position: absolute; left: 1em;}
.testimonial-block-photo{min-height: 30em; background-repeat: no-repeat; background-size: cover; background-position: top center;}
.testimonial-block-quote{height: 30em; display: table-cell; vertical-align: middle;}
.testimonial-block-quote p{color:#333;font-size:2.25em;font-weight:400;line-height:1.333}
.testimonial-block-quote p:before{content:'\201C';float:left;margin-bottom:2.25em;margin-top:-10px}
.testimonial-block-quote p:after{content: '\201D'; float: right;}
.testimonial-block-quote p:before, .testimonial-block-quote p:after{color: #ededed;font-size: 2em;}
.testimonial-block-quote span{color:#aae2f6;font-size:1.5em;font-weight:400;line-height:2}
.testimonial-author{font-family:Lato;color:#0d3242;font-size:1em;font-weight:300; text-transform: uppercase;}

.button-blue{color: #2693c2; border-color: #2693c2;}

.main-content{background: #FFFFFF;}

.introduction{min-height: 400px;transition: margin-top 1s ease;}

.share img{max-height: 36px}
.full-cta-box{background: #000000;max-width: 100%;}
.full-cta-box{padding: 0px;}
img.cta-img-1{margin-left:-85%;margin-top:30px;}

/*//___Footer Styling___\\*/
.footer-stretch{background: #333;}
footer{}
footer h3{margin-bottom: 0;}
footer h3 small{color:#aae2f6;font-size:1em;font-weight:400;}
footer h4{color:#fff;font-size:3em;font-weight:300;}
footer .nav-cta{margin-top: 15px;}
footer .nav-cta h3{font-size: 2.75em; letter-spacing: 1px;}
footer .pad{padding: 5em 0;}
.footer-logo .small-block-grid-2 > li{padding: 0 0 0.625em}
.footer-logo .small-block-grid-2 > li > img{height: 4.4rem;}
.footer-logo{margin-top: -100px;}
/*//___Footer Block___\\*/
.footer-block{padding-bottom: 5em;}
.footer-block h3{color:#FFF;font-size:1.25em;letter-spacing:0.125em}
.footer-block .no-bullet a{color:#aae2f6;font-size:1em;font-style:italic;line-height:2em; font-weight: 300;}
.footer-block .pad{padding: 0 0 2em;}
/*//___Copyright___\\*/
#copyright{border-top: 1px solid #FFF; color:#FFF;font-size:1.125em;font-weight:normal;letter-spacing:1px; padding: 15px 0px;}
/*//___Social Media___\\*/
#social-media ul li{padding: 0px;border-left: 1px #FFF solid;}
#social-media ul li img{height:100%;padding:15% 5%}

/* (========= Custom Template Styling  =============) */
/*//___Use class below for full-width images as div background___\\*/
.wide-featured-image{background-position: center center;background-repeat: no-repeat;background-size: cover;}
.wide-featured-image.img-fixed{background-attachment: fixed;}
.wide-featured-image.valign-middle{padding: 15% 0px;}
/* (========= Sidebar  =============) */
.nsv-sidebar ul.menu li a{background: #FFF; color: #000000;display: block;text-transform: uppercase;border: 1px solid #000000; padding: 20px;}
.nsv-sidebar ul.menu li.current_page_item a:hover, .nsv-sidebar ul.menu li a:hover{background: #000000; border: 1px solid #FFFFFF; color: #FFF;}
.nsv-sidebar ul.menu li{list-style: none;margin-bottom: 15px;}
.nsv-sidebar ul.menu{margin-left: 0px;}
.nsv-sidebar ul.menu li.current_page_item a{background: #8d9920;color:#FFF;}

/* (========= Grid Functionality Custo =============) */
.row{max-width: 101.7rem;}
.no-space{margin: inherit;padding: 0px;}
.pad{padding: 15px 0px;}


/*//___Slick Slider Settings___\\*/
/*//___Home Block 2 Slider___\\*/
.slick-list{width:91.6667%; margin: 0 auto;}
.slick-dots{margin:0}
.slick-prev{left:0}
.slick-next{right:0}
.slick-prev,.slick-next{background:transparent;bottom:0;color:#FFF;margin:0 3px;padding:25px;transition:all .5s ease}
.slick-prev{border-radius:25px}
.slick-next{border-radius:25px}
.slick-prev:hover,.slick-next:hover{background:#FFF;color:#000}
.slick-prev:before,.slick-next:before{font-family:'Lato';font-size:35px;line-height:0;color:inherit;margin:0 6px;position:absolute}
.slick-prev:before {
    content: '\FF1C';
    left: 0;
}
.slick-next:before {
    content: '\FF1E';
    right: 0;
}
.slick-next:focus,.slick-prev:focus{background-color:dimgray;color:#FFF}
.slick-dots li button:before{font-family:"Lato";font-size:46px; color: #FFF;}
.slick-dots li.slick-active button:before{color:#FFF;opacity:.75}

/*//___Featured Facility Styling___\\*/
[data-featured*='1']{background: #000;}

/*//___Nav___\\*/
/*//___Sidr Custos___\\*/
div[id*="sidr"] li.sidr-class-nav-menu-more{display: none !important;}

/*//___Header Stylings___\\*/
header{background: #FFF;border-bottom: 1px solid #ededed;}
#more-menu{border-right: 1px solid #ededed;}
#more-menu img{padding: 25%;}
.nav-cta{margin-top: 0px; padding: 10px 0px;}
.nav-cta h2, .nav-cta h3{margin: 0px;line-height: 1.25em;font-size: 2em}
.nav-cta h2 small{color: #333;text-transform: none;letter-spacing: .05em;}
.nav-cta h3{color:#f86d13;font-weight:700}
#top-nav{}
ul.top-menu-right li a{color: #b4b4b4;}
ul.top-menu-right li a:hover{color: #f27527;}
ul.top-menu-right li{list-style: none;display: inline-block; margin-left: 15px;}
ul.top-menu-right li:first-child{margin-left: 0px;}

#main-nav{padding-left: 10px;}
#main-nav ul{}
#main-nav ul li a{color:#339cc1;font-size:1em;font-weight:700;line-height:1;text-transform: uppercase;}
#main-nav ul li{list-style: none;display: inline-block; margin: 15px;}
#main-nav ul li:first-child{}
#main-nav ul li:last-child{padding-right: 0px; border-right: 0px solid transparent;}
.menu-nav-header ul{margin: 0px;}
.navigation-callout{background-color:#f27527;color: #FFF;min-height: 100px; padding: 15px;text-align:center;width: 100%;}
.navigation-callout:before{content:'\25C4';color:#f27527;font-size:36px;left:-20px;position:absolute;top: 22%;border: 0px solid transparent; padding: 0px;}
.navigation-callout p{font-family:Lato;color:#ffffff;font-size:24px;font-weight:400;line-height:36px;margin-bottom: 0px}
.navigation-callout-phone{font-size:36px;font-weight:700;line-height:36px;}
a#menu-cta-link{color: #aae2f6 !important;}

/*//___More Menu Stylo___\\*/
html.mm-opened body{margin-right:12px}
#my-menu{background: #f86d13;}
.mm-list>li>a,.mm-list>li>span{color:#FFF;}
.mm-list>li>a:hover{color: #ededed;}

/*//___Centering Magik___\\*/
/* The ghost, nudged to maintain perfect centering */
.valign-middle:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-0.25em}
.valign-middle{display: inline-block;}
.valign-middle-absolute{display: table; position: relative; top: 50%; transform: translate(0, -50%);-webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%);}
.valign-middle-all{display:table;left:50%;margin-right:-50%!important;position:relative;top:50%;transform:translate(-50%,-50%)!important;-webkit-transform:translate(-50%,-50%)!important;-ms-transform:translate(-50%,-50%)!important}

/* The element to be centered, can also be of any width and height */ 
.centered{display:block;vertical-align:middle}

@media only screen and (max-width: 40em){
h2{font-size:2.75em;color:#000;}
.testimonial-block-quote p{color:#333;font-size:1.85em;font-weight:400;line-height:1.333}
.testimonial-block-photo{min-height: 25em;}
.nav-cta-block{background: #aae2f6}
.nav-cta{margin-top: 10px;float: none !important;}
.featured-image-text button{display: block;left: 0px;top: 1em;}
}
@media only screen and (max-width: 64em){
    #more-menu img{padding: 5%;}
    .header-logo{width: 100%}
    .nav-cta h2, .nav-cta h3{margin: 0px;line-height: 1.25em;font-size: 1.65em}
#home-featured-image-container .featured-image-text span{font-size:2.5em;}
    .home-block-3-3 .nav-cta h2, .home-block-3-3 .nav-cta h3{font-size: 1.5em}
    .home-block-3-1{border-right: 0px;}
.home-block-3-3{border-left: 0px;}
    #top-logo{max-width: 250px; margin: 0 auto;}
    section.full-cta-box{padding: 50px 0px;}
    section.full-cta-box img{margin-left: auto;}
    .single-facility-featured-image-container{height: 300px;}
    #sidr-inner{top:85px;}
    #facility-image-wide {background-attachment: scroll;}
    .testimonial-block-quote{height: 20em;}
/*.featured-image-text button{left:0; top: 1em;}*/
header .valign-middle:before{display: none;}
.logo{padding: 5px 0px;}
.nav-cta{padding: 0px;margin-top: 0px;}
}
@media only screen and (max-width: 90em) {
    .nav-cta{padding: 0px;}
#main-nav ul li a{font-size: 0.85em;}
#main-nav ul li{margin: 5px;}
.navigation-callout p{font-size:20px;}
}
/*//___Small Breakpoint___\\*/
@media only screen and (min-width: 40.063em) {}
/*//___Medium Breakpoint___\\*/
@media only screen and (min-width: 64.063em) {
.testimonial-block-more{position: relative; height: 30em;}
.testimonial-block-more-button{display: block;position: absolute;top: 80%; transform: translate(0,-80%);right: 0px;}
}
/*//___Large Breakpoint___\\*/
@media only screen and (min-width: 90.063em) {}
/*//___X-Large Breakpoint___\\*/
@media only screen and (min-width: 120.063em) {}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
.testimonial-block-more{padding-left: 1.5em;}
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {}

/*//___Orientation Landscape___\\*/
@media only screen and (orientation: landscape) {}
/*//___Orientation Portrait___\\*/
@media only screen and (orientation: portrait) {}

/*//___Custom Media Queries___\\*/
@media only screen and (max-width: 64em) {
    .navigation-callout:before{display: none;}
}